@model CosmosDBEntities.Models.Guest





<div style="margin-bottom:5px;">

    <div class="id-card-tag-strip"></div>
    <div class="id-card-hook"></div>
    <div class="id-card-holder">
        <div class="id-card">
            <div class="header">
                <img src="@Model.BusinessLogo">
            </div>

            <div class="photo">
                <img src="@Model.InvitePath">
            </div>

            <hr>

            <a href="@Model.InviteDownloadPath" style="align-content:center;" class="button1">Download Invite</a>

        </div>
    </div>

</div>

